.subscribe-btn {
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 1em;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25), -5px -5px 11.5px 0 #f0f0f3,
    1px 1px 2px 0 rgba(0, 0, 0, 0.25), 5px 5px 8.5px 0 rgba(0, 0, 0, 0.25);
}

.subscribe-btn:hover {
  box-shadow: -1px -1px 2px 0px #fff inset, -4px -4px 10px 0px #fff inset,
    1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset,
    5px 5px 8.5px 0px rgba(0, 0, 0, 0.25) inset;
  color: #c07708;
}
