.gradient-text-one {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(182.6deg, #d38d1a 23.75%, #343ada 97.97%);
}

.gradient-text-two {
  background-image: linear-gradient(182.6deg, #343ada 23.75%, #d38d1a 97.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
